<nav>
	<a href="{{homeRoute}}">Home</a> |
	<a href="{{createCelebritiesRoute}}">Create Celebrities</a> |
	<a href="{{listCelebritiesRoute}}">See all Celebrities</a> |
	<a href="{{createMoviesRoute}}">Create Movies</a> |
	<a href="{{listMoviesRoute}}">See all Movies</a>
</nav>
